body {
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0;
    user-select: none;
    background: rgb(240, 240, 240);
    overflow-x: scroll;
    /*justify-content: space-between;*/
    /* height: 700px; */
}

.hex {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 86.6px;
    height: 100px;
    left: 100px;
    top: 100px; */
    margin: 0;
    text-align: center;
    background-color: rgb(53, 169, 169);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex:hover {
    background-color: rgb(93, 223, 223);
    /* color: rgb(248, 123, 150); */
}

.hex-hover {
    background-color: rgb(103, 228, 228);
}

.hex-active {
    background-color: #f7acbc;
}

.hex-active:hover {
    background-color: #f7acbc;
}

.hex-activer-press {
    background-color: rgb(248, 123, 150);
}

.hex-active-press:hover {
    background-color: rgb(248, 123, 150);
}

.hex-death {
    color: white;
    background-color: rgb(211, 53, 53);
    ;
}

.hex-death:hover {
    background-color: rgb(211, 53, 53);
}

.hex-wrong {
    color: white !important;
    background-color: rgb(211, 53, 53);
}

.hex-wrong:hover {
    background-color: rgb(211, 53, 53);
}

.mask-hex {
    position: absolute;
    z-index: 5;
    margin: 0;
    padding: 10px 0;
    pointer-events: none;
    opacity: .4;
    background: rgb(212, 221, 39);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex-shake {
    animation: shake 1.5s linear 3;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(30deg);
    }
    30% {
        transform: rotate(60deg);
    }
    45% {
        transform: rotate(90deg);
    }
    60% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(120deg);
    }
}

.run-rat {
    position: absolute;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.run-rat>img {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    /* cursor: pointer; */
    z-index: 20;
}

.run-rat>span {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 30%;
    font-weight: 800;
    z-index: 5;
    font-size: 28px;
    z-index: 25;
    -webkit-text-stroke: 2.5px black;
    color: white;
    text-align: center;
}

#tool-bar,
#l-tool-bar,
#r-tool-bar {
    display: flex;
}

#tool-bar {
    justify-content: space-between;
    margin-top: 15px;
}

#l-tool-bar,
#r-tool-bar {
    margin: 0 50px;
}

#back-btn {
    background-color: #67C286;
    color: #37423B;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    clip-path: polygon(0% 50%, 20% 0%, 100% 0%, 100% 100%, 20% 100%);
}

#back-btn:hover {
    background-color: #C26966;
    color: #eee;
}

#menu {
    height: 600px;
}

#title {
    font-size: 60px;
    font-weight: 600;
    margin: 50px 0 20px 0;
    display: flex;
    align-items: center;
}

#title>span {
    display: flex;
}

#shu {
    color: #756F65;
    transition: transform 1s;
}

#shu:hover {
    transform: rotateY(180deg);
}

#lei {
    color: #756F65;
    transition: transform 1s;
}

#lei:hover {
    transform: rotateX(180deg);
}

#lei-svg {
    height: 60px;
    width: 60px;
}

#lei-svg:hover {
    content: url('../img/mine_death.svg');
}

#menu,
#sub-menus,
#init-menu,
#play-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sub-menus,
#init-menu,
#play-menu {
    height: 300px;
}

#init-menu {
    position: relative;
    width: 64px;
    margin-top: 100px;
    /*    height: 400px;*/
}

#init-menu>div {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 86.6px;
    margin: 0;
    text-align: center;
    color: #37423B;
    background-color: #67C286;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: background-color 0.4s, color 0.4s;
}

#init-menu>div:hover {
    background-color: #C26966;
    color: #eee;
}

#play-btn {
    left: -18px;
    top: 0;
}

#set-btn {
    left: -101.66px;
    top: 48.3px;
}

#baike-btn {
    left: 65.66px;
    top: 48.3px;
}

#dev-btn {
    left: -18px;
    top: 96.6px;
}

#play-menu {
    margin-top: 50px;
}

#play-menu>div {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #37423B;
    background-color: #67C286;
    width: 250px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    margin: 20px 0;
    cursor: pointer;
    transition: color 0.4s, background-color 0.4s;
}

#play-menu>div:hover {
    background-color: #C26966;
    color: #eee;
}

#play-set-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#play-set-title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #37423B;
    background-color: #67C286;
    border: 2px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 75px;
    margin-bottom: 20px;
    transition: transform 1.5s;
}

#play-set-title:hover {
    transform: rotateY(360deg);
}

.set-item {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 16px 0;
    height: 35px;
}

.play-set-label {
    background-color: #9E7AC2;
    color: white;
    border-radius: 10px 0 0 10px;
    padding: 0 8px;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
}

.set-item>.play-set-label {
    width: 100%;
}

.set-item>input {
    background-color: transparent;
    outline-style: none;
    border: 2px solid #9E7AC2;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    font-weight: 600;
    transition: box-shadow 0.8s;
}

.set-item>input:focus {
    box-shadow: 0 0 6px 2px #CF9AC7;
}

.set-wrong {
    text-align: center;
    background-color: darkred;
    color: white;
    height: 35px;
    padding: 0 8px;
    border-radius: 10px;
    line-height: 35px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.set-right {
    text-align: center;
    background-color: #58962F;
    color: white;
    height: 35px;
    padding: 0 8px;
    border-radius: 10px;
    line-height: 35px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

#mine-default {
    display: flex;
    /* width: 100%; */
    margin: 16px 0;
}

#default-btns {
    opacity: 1;
}

.perc-btn {
    height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 17px;
    border: 2px solid #C2AD8D;
    border-radius: 0px;
    background-color: #C2AD8D;
}

.perc-btn:last-child {
    border-radius: 10px;
}

.perc-btn:hover {
    background-color: #A8967B;
    border-color: #A8967B;
}

#default-options {
    display: flex;
    border: 2px solid #9E7AC2;
    justify-content: space-around;
    /* width: 280px; */
    border-radius: 0 10px 10px 0;
    height: 35px;
}

#default-options label {
    padding: 0;
    margin: 0;
    padding-top: 5px;
    margin: 0 10px;
}

#conf-set-btn {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #37423B;
    background-color: #67C286;
    width: 225px;
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
    margin: 30px 0;
    cursor: pointer;
    transition: background-color 0.8s, color 0.8s;
}

.disabled-input {
    background-color: #e0c1ff!important;
}

#conf-set-btn:hover {
    background-color: #C26966;
    color: #eee;
}

#level {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#head-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
    z-index: 21;
}

#level-bar {
    font-size: 26px;
    height: 80%;
    text-align: center;
}

#info-bar {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.info {
    padding: 0 5px;
    color: white;
    border: 2px solid rgb(41, 41, 41);
    background-color: rgb(41, 41, 41);
}

.info:last-child {
    border-radius: 0 15px 15px 0;
}

.info-block {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
}

.label {
    padding: 0 6px;
    border: 2px solid rgb(41, 41, 41);
    border-radius: 15px 0 0 15px;
}

#time-lim {
    padding: 0 5px;
    color: white;
    border: 2px solid rgb(68, 140, 57);
    border-radius: 0 15px 15px 0;
    background-color: rgb(68, 140, 57);
}

#score-multip {
    padding: 0 5px;
    color: white;
    border: 2px solid rgb(165, 155, 15);
    border-radius: 0 15px 15px 0;
    background-color: rgb(165, 155, 15);
}

#main-stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mine-field {
    position: relative;
}

#item-bar {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 50px;
    float: right;
    z-index: 21;
    width: 120px;
    height: 500px;
}

#item-tab {
    display: flex;
    text-align: center;
    justify-content: space-around;
}


/* img {
    border: 5px solid red;
} */

#item-list {
    font-size: 25px;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: space-between;
    /* width: 150px; */
    /* height: 80%; */
    border: 3px solid #1872CC;
    border-radius: 5px;
}

.item {
    margin: 5px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.item>img {
    height: 80px;
    width: 80px;
}

#shop {
    display: flex;
    margin-top: 20px;
}

.dialog-body {
    margin-left: 20px;
    padding: 5px;
    color: white;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    background-color: dodgerblue;
}

.dialog-tail {
    width: 0;
    height: 0;
    margin-left: 45px;
    border-width: 16px;
    border-style: solid;
    border-color: dodgerblue transparent transparent;
}

#cr {
    /* position: absolute; */
    text-align: center;
    font-size: 20px;
    /* margin-top: 100px; */
    /* margin-bottom: 20px; */
    font-weight: 600;
    /* bottom: 0; */
    /* left: 30%; */
    /* right: 30%; */
    /*    left: 50%;*/
    /* animation: name-change 2s linear infinite; */
}

#cr:after {
    content: "Sealleci";
    color: black;
    animation: name-change 4s linear infinite;
}

@keyframes name-change {
    0% {
        content: "Sealleci";
    }
    12.5% {
        content: "Seal Leci";
    }
    25% {
        content: "Seal Lezi";
    }
    37.5% {
        content: "Seal Lazi";
    }
    50% {
        content: "Seal Tazi";
    }
    62.5% {
        content: "Seal Taci";
    }
    75% {
        content: "Seal Teci";
    }
    87.5% {
        content: "Seal Leci";
    }
    100% {
        content: "Sealleci";
    }
}

#leci {
    z-index: 22;
    height: 120px;
    width: 120px;
    position: absolute;
    left: 0;
    top: 600px;
    transition: transform 2s, left 2s, top 2s;
}

#baike-tab {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

#baike-tab>div {
    border: 2px solid dodgerblue;
    border-radius: 10px 0 0 0;
}

#baike-item-list {
    overflow-y: scroll;
    border: 2px solid black;
    width: 500px;
    height: 400px;
}

.baike-item {
    display: flex;
    margin: 10px 0;
    width: 100%;
    justify-content: center;
    border: 2px solid darkolivegreen;
}

.baike-item-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 5px;
}

.baike-item-img>img {
    height: 100px;
    width: 100px;
}

.item-type>span:first-child {
    border: 2px solid dodgerblue;
}

.item-stack>span:first-child {
    border: 2px solid dodgerblue;
}

.item-use>span:first-child {
    border: 2px solid dodgerblue;
}

.item-desc {
    width: 350px;
    border: 2px solid darkmagenta;
    word-wrap: break-word;
    white-space: normal;
}