<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Rat Cici</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="./css/ratcici_style.css">
</head>

<body>
    <div id="head-bar">
        <div id="l-bar">
            <div id="score-block">
                <div class="label">
                    <span><i class="bi bi-star-fill"></i></span>
                    <span>分数</span>
                </div>
                <span id="score">0</span>
            </div>
            <div id="time-block">
                <div class="label">
                    <span><i class="bi bi-stopwatch-fill"></i></span>
                    <span>计时</span>
                </div>
                <span id="time">00:00</span>
            </div>
        </div>
        <div id="r-bar">
            <div>
                <span id="pause" style="display:none;"><i class="bi bi-pause-circle"></i></span>
                <span id="play"><i class="bi bi-play-circle" style="display:inline;"></i></span>
            </div>
            <div>
                <span id="replay"><i class="bi bi-bootstrap-reboot"></i></span>
            </div>
            <div>
                <span data-toggle="modal" data-target="#tips">
                    <i class="bi bi-question-circle"></i>
                </span>
            </div>
        </div>
    </div>
    <div id="init-title">
        <h1></h1>
        <div class="key-promt">按Z键开始</div>
    </div>
    <div id="over-info" style="display:none;">
        <h1></h1>
        <div id="final-stat">
            <span id="final-score">0</span>
            <span id="final-time">0</span>
        </div>
        <div class="key-promt">按X键重开</div>
    </div>
    <div id="main-canvas">
        <canvas id="stage-cici" width="660" height="400"></canvas>
    </div>

    <div class="modal fade" id="tips" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">贪吃鼠游戏规则</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>按键：
                            <ul>
                                <li>方向键-移动</li>
                                <li>空格键-闪现</li>
                                <li>Z键-切换暂停与继续</li>
                                <li>X键-重开</li>
                            </ul>
                        </li>
                        <li>得分规则：
                            <ul>
                                <li>初始分数500</li>
                                <li>每移动一步<span style="color:rgb(102, 175, 29)">减1分</span></li>
                                <li>每闪现一次<span style="color:rgb(102, 175, 29)">减2分</span></li>
                                <li>吃狗<span style="color:rgb(187, 34, 34)">增100分</span></li>
                                <li>吃猫<span style="color:rgb(187, 34, 34)">增250分</span></li>
                            </ul>
                        </li>
                        <li>游戏舞台的四个方向互相连通</li>
                        <li>鼠鼠碰到自己的身体会爆炸</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/snake.js"></script>

</html>